@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Resets and default stylings as well as variables */
* {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --poppins: 'Poppins', sans-serif;
  --open-sans: 'Open Sans', sans-serif;
  margin: 0;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--poppins); 
}

img {
  display: block;
  max-width: 100%;
}

input {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Reset section end */

body {
  background-color: var(--violet);
  color: white;
  background-image: url('images/bg-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1.5rem;
  text-align: center;
}

.landing-page {
  padding: 3.3rem 4rem;
}

img:first-of-type {
  width: 14.5rem;
  margin-bottom: 6.5rem;
  cursor: pointer;
}

img:nth-of-type(2) {
  object-fit: cover;
  margin-bottom: 9.7rem;
}



.landing-page > h1:nth-of-type(1) {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-bottom: 2.3rem;
}

.landing-page > p:first-of-type {
  font-size: 1.64rem;
  font-weight: 400;
  margin-bottom: 4rem;
  font-family: var(--open-sans);
  padding: 0 0.1rem;
}

.landing-page > button {
  min-width: 250px;
  height: 45px;
  font-size: 1.3rem;
  color: var(--violet);
  border-radius: 30px;
  border: none;
  box-shadow: 1px 1px 7px -2px black;
  margin-bottom: 7.2rem;
  margin-left: 1rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.icon {
  cursor: pointer;
  border: 1px solid white;
  padding: 5px;
  border-radius: 100%;
}



